aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
async-timeout==3.0.1
attrs==21.2.0
blessings==1.7
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
cx-Oracle==8.2.1
filelock==3.0.12
google-api-core==1.30.0
google-auth==1.32.1
googleapis-common-protos==1.53.0
gpustat==0.6.0
grpcio==1.38.1
hiredis==2.0.0
idna==2.10
jsonschema==3.2.0
lxml==4.6.3
msgpack==1.0.2
multidict==5.1.0
numpy==1.21.0
nvidia-ml-py3==7.352.0
opencensus==0.7.13
opencensus-context==0.1.2
packaging==21.0
prometheus-client==0.11.0
protobuf==3.17.3
psutil==5.8.0
py-spy==0.3.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.8.2
pyparsing==2.4.7
pyrsistent==0.18.0
pytz==2021.1
PyYAML==5.4.1
ray==1.4.1
redis==3.5.3
requests==2.25.1
rsa==4.7.2
six==1.16.0
typing-extensions==3.10.0.0
Unidecode==1.2.0
urllib3==1.26.6
yarl==1.6.3
